server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/ndl}
    username: ${DATABASE_USER:ndl}
    password: ${DATABASE_PASSWORD:ndl_password}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
  web:
    resources:
      add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://kj-ea-ndl.eu.auth0.com/

management:
  endpoints:
    web:
      exposure:
        include: health,info

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

auth0:
  audience: ${AUTH0_AUDIENCE:https://numbers-dont-lie-api}

vaadin:
  launch-browser: true
